body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #8E6C5D;
}

.start {
  display: none;
  font-family: monospace;
  padding: 20px;
  padding-left: 10px;
  padding-right:10px;
  text-align: justify;
  max-width: 300px;
  color: white;
  margin: auto;


}

.continue {
  display: none;
  border-style: outset;
  padding: 5px;
  font-family: monospace;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  background-color: white;
  color: grey;
}

.continue:hover {
  border-style: inset;
  color: darkgrey;
}

.plant {
  display: none;
  padding: 20px;
  margin: auto;
  padding-left: 10px;
  padding-right:10px;
  max-width: 300px;
}

.health {
  display: none;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 500px;
}

.water {
  display: none;
  border-style: outset;
  padding: 5px;
  font-family: monospace;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  background-color: white;
  color: grey;
}

.water:hover {
  border-style: inset;
  color: darkgrey;
}

.death {
  display: none;
  font-family: monospace;
  padding: 20px;
  padding-left: 10px;
  padding-right:10px;
  text-align: center;
  max-width: 300px;
  color: white;
  margin: auto;
}

img {
  max-width: 300px;
  margin: auto;
}

.bg {
  position: absolute;;
  top: -0px;
  width: 100%;
  height: 240px;
  background-color: white;
  z-index: -1;
}

@media only screen and (max-device-width: 480px) {
  body {
    width: 400px;
  }
}
